* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  color: white;
  background: linear-gradient(#dbdbdb 0%, #38b9e1 100%);
  font-family: 'Open Sans', sans-serif;
  
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.App {
  width: 100%;
  height: 100%;
  background: linear-gradient(#0f6edb, #8bc5f4);
  flex-grow: 1;
  // display: flex;
  // flex-direction: column;
  // display: grid;
  // grid-template-rows: 90% 10%;
  

  // border: 4px dotted red;
  // background: pink;
}

.contentContainer{

}

.header {
  text-align: center;
  margin-top: 10px;
  padding: 25px;
  padding-bottom: 0;
  font-family: 'Patua One', cursive;
  display: inline;
  display: flex;
  justify-content: center;

  // background: pink;

  &__h1{
    font-size: 2rem;
    letter-spacing: 1px;
  }

  &__logo{
    width: 2.7rem;
    display: inline;
    transform: translateY(-2px);
    margin-left: 3px;
  }
}

.input{
  text-align: center;
  height: 100px;
  display: grid;
  place-content: center;

  // background: pink;


  &__form {
    // width: 100%;
    // height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;

    // border: 3px dotted red;

    & span {
      // background: pink;
      // height: 100%;
    }
  }

  &__exercise{
    width: 8rem;
    text-align: center;
    color: #1d66c0;

    &--flashRed {
      background: #e44b64cb;
      border-color: #e44b64cb;
    }

    &--flashGreen {
      background: green;
      border-color: green;
    }
  }

  &__sets{
    text-align: center;
    width: 3rem;
    color: #1d66c0;

    &--flashRed {
      background: #e44b64cb;
      border-color: #e44b64cb;
    }

    &--flashGreen {
      background: green;
      border-color: green;
    }
  }

  &__reps{
    text-align: center;
    width: 3rem;
    color: #1d66c0;
    display: inline;
    
    &--flashRed {
      background: #e44b64cb;
      border-color: #e44b64cb;
    }

    &--flashGreen {
      background: green;
      border-color: green;
    }
  }

  &__buttonSpan {
    display: grid;
    align-items: end;
  }

  &__button{
    border-radius: 6px;
    background-color: #61cd2f;
    color: white;
    width: 3rem;
    border: 2px solid white;
    stroke: 1px solid black;
    font-size: 1.2rem;
    text-shadow:
      -0.2px  0.2px 0 #2a4ff1,
       0.2px  0.2px 0 #2a4ff1,
       0.2px -0.2px 0 #2a4ff1,
      -0.2px -0.2px 0 #2a4ff1;
      &--flashRed {
        background: #f33d5ccb;
        border-color: #f33d5ccb;
      }

      &:hover {
        background-color: #64d630;
      }
  }
}

input {
  border-radius: 6px;
  border: 2px solid #69d223;
  font-size: 1.2rem;

}

label {
  display: block;
  text-align: left;
  font-size: 1rem;
}

.week {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // gap: 15px;
  padding-top: 25px;
  padding-bottom: 6rem;


  /* background: rgba(222, 123, 139, 0.594); */
  // border: 3px dotted red;

  &__title {

    // background: yellow;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3rem;
    // letter-spacing: 0.7px;
    text-decoration: underline;
    margin-bottom: 5px;
  }

  &__button {
    margin-top: 30px;
    border-radius: 6px;
    margin-right: 45px;
    background-color: #61cd2f;
    color: white;
    border: 2px solid white;
    stroke: 1px solid black;
    font-size: 1.3rem;
    width: 6.5rem;
    align-self: flex-end;
    text-shadow:
      -0.2px  0.2px 0 #2a4ff1,
       0.2px  0.2px 0 #2a4ff1,
       0.2px -0.2px 0 #2a4ff1,
      -0.2px -0.2px 0 #2a4ff1;

      &:hover{
        background-color: #64d630;
      }
  }

}


.exercise {
  width: 85%;
  max-width: 85%;
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  background: rgba(137, 234, 252, 0.151);
  
  &__description {
    margin-bottom: 5px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: -0.2px;
    font-weight: bold;
  }

  &__cross{
    font-size: 1rem;
    float: right;
    margin-top: -15px;
    margin-bottom: 2px;

    // background: pink;
  }

  &__checkboxArea {
  width: 100%;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;

  // gap: 0.5px;


  // align-items: center;
  // text-align: center;
  // vertical-align: middle;

  // background: yellowgreen;
  }

  &__total {
    margin-top: 4px;
    font-size: 0.8rem;
    text-align: right;
  }

}

.checkbox {

  width: 2.4rem;
  height: 2.4rem;
  // order: 2;
  // display: grid;
  // place-items: center;
  position: relative;

  &__arm {
    width: 100%;
  }

  &__number {
    font-size: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // background: red;

  &--checked{
    // order: 1;
  }
}

.history{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 30px;
    text-decoration: underline;
    text-align: center;
    justify-self: center;
  }

  &__week{
    width: 85%;
    max-width: 95%;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    background: rgba(137, 234, 252, 0.151);
    display: flex;
    // justify-content: center;
  }

  &__textwrapper {
    width: 100%;
  }

  &__cross {
    font-size: 1.2rem;
    float: right;
    position: sticky;
    // display: absolute;
    left: 0px;
    // float: right;
    margin-top: -5px;
    // margin-bottom: 2px;
  }
}


.navbar {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  background: #58cc22;
  display: flex;
  font-size: 3rem;
  text-shadow:
      -0.2px  0.2px 0 #0e6ca7,
       0.2px  0.2px 0 #0e6ca7,
       0.2px -0.2px 0 #0e6ca7,
      -0.2px -0.2px 0 #0e6ca7;


  /* border: 1px dotted black; */

  &__current {
    flex-grow: 1;
    display: grid;
    place-items: center;
    border-radius: 0 0 0 30px;
    /* background: pink; */

    &--selected {
      background: #68de31;
    }

    &:hover {
      background-color: #f2ffed34;
    }
  }

  &__history {
    flex-grow: 1;
    display: grid;
    place-items: center;
    border-radius: 0 0 30px ;

    &--selected {
      background: #68de31;
    }

    &:hover {
      background-color: #f2ffed34;
    }
  }
}

@media all and (min-width: 500px) {
  body {
    display: grid;
    place-items: center;
  }

  #root{

  }

  .App {
    width: 400px;
    height: 620px;
    height: 812px;
    border-radius: 30px;

    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    // }

    box-shadow: 0 0 0 3px rgba(23, 83, 126, 0.521),
                0 0 0 14px rgb(253, 249, 255);
  }

 

  .contentContainer{
    width: 100%;
    height: 100%;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

  }

  .header {

    &__h1{
      font-size: 2.1rem;
      letter-spacing: 1px;
    }
  }

  .navbar{
    position: static;
    transform: translateY(1px);
    height: 5rem;
    min-height: 5rem;
    border-radius: 0 0 30px 30px;
    margin-top: auto;
    position: sticky;
  }

}

@media all and (max-width: 330px) {
  
  .header {
    &__h1 {
      font-size: 1.6rem;
    }

    &__logo{
      width: 2.2rem;
    }
  }

  .week {
    &__title {
      font-size: 1rem;
    }
  }

  .exercise {
    &__description {
      font-size: 1.2rem;
    }
  }

  .checkbox {

    width: 2rem;
    height: 2rem;
    // order: 2;
    display: grid;
    place-items: center;
  
    &__arm {
      width: 2rem;
    }
  }

  .history {

    &__week {
      font-size: 0.8rem;
    }
  }
}
