* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  color: white;
  background: rgb(14, 85, 117);
  font-family: 'Open Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
}

.App {
  width: 100%;
  // height: 100vh;
  background: linear-gradient(#1b4f98, #52afde);
  // background: green;
  flex-grow: 1;
  display: flex;
  flex-direction: column;


  // border: 4px dotted red;
  // background: pink;
}

.input{
  text-align: center;
  height: 150px;
  display: grid;
  place-content: center;

  border: 3px dotted white;


  &__form {
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    // border: 3px dotted red;
  }

  &__exercise{
    &--flashRed {
      background: red;
      border-color: red;
    }

    &--flashGreen {
      background: green;
      border-color: green;
    }
  }

  &__sets{
    &--flashRed {
      background: red;
      border-color: red;
    }

    &--flashGreen {
      background: green;
      border-color: green;
    }
  }

  &__reps{
    display: inline;
    
    &--flashRed {
      background: red;
      border-color: red;
    }

    &--flashGreen {
      background: green;
      border-color: green;
    }
  }

  &__buttonSpan {
    display: grid;
    align-items: end;
  }

  &__button{
    border-radius: 6px;
    background-color: #69d223;
    color: white;
    border: 2px solid white;
    stroke: 1px solid black;
    text-shadow:
      -0.2px  0.2px 0 #2a4ff1,
       0.2px  0.2px 0 #2a4ff1,
       0.2px -0.2px 0 #2a4ff1,
      -0.2px -0.2px 0 #2a4ff1;
  }
}

input {
  border-radius: 6px;
  border: 2px solid #69d223;
}

label {
  display: block;
  text-align: left;
}

.week {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 6rem;


  /* background: rgba(222, 123, 139, 0.594); */
  // border: 3px dotted red;

  &__title {

    // background: yellow;
    width: 90%;
    margin-bottom: 10px;
    font-family: 'Patua One', cursive;
    text-align: center;
  }

}


.exercise {
  width: 90%;

  border: 1.5px solid white;
  border-radius: 10px;
  padding: 5px;
  
  &__description {
    margin-bottom: 5px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1.2rem;
  }

  &__cross{
    font-size: 1.3rem;
    float: right;
    margin-top: -15px;
    margin-bottom: 10px;

    // background: pink;
  }

  &__checkboxArea{
  width: 100%;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;

  gap: 1px;


  // align-items: center;
  // text-align: center;
  // vertical-align: middle;

  // background: yellowgreen;
  }

  &__total {
    margin-top: 10px;
    font-size: 0.8rem;
    text-align: right;
  }

}

.checkbox{

  width: 2rem;
  height: 2rem;
  order: 2;
  display: grid;
  place-items: center;

  // background: red;

  &--checked{
    order: 1;
  }
}


.footer {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  background:#1b4f98;
  display: flex;
  font-size: 3rem;

  /* border: 1px dotted black; */

  &__left {
    flex-grow: 1;
    display: grid;
    place-items: center;
    /* background: pink; */

    &--selected {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &__right {
    flex-grow: 1;
    display: grid;
    place-items: center;
    /* background: green; */
  }
}


